@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i');

body, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: 'Comic Sans MS';
  font-size: 24px;
  font-weight: 300;
  color: #23c20a;
  line-height: 50px;

}

header {
  color: #FFF;
  background: #7596B8;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  font-family: 'Garamond';
}

.container {
  padding: 12px;
}

.item {
  margin: 12px 0;
}

h2 {
  color: #f58700;
  font-weight: 700;
  border-bottom: 5px solid #7596B8;
  display: inline-block;
  line-height: 40px;
  margin-top: 28px;
  font-family:'Helvetica';
  font-size: 28px;
}

.rule {
  box-sizing: border-box;
  height: 1px;
  background: #7596B8;
}

h3 {
  color: #000;
  font-weight: 700;
  margin-top: 20px;
  font-family: 'Verdana';
}

.of {
  font-weight: 300;
  font-style: italic;
}

h4 {

}

h4 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h3, h4 {
  line-height: 28px;
}

h5 {
  font-size: 16px;
  color: #18238c;
  margin-top: 0;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: 'Courier';
}

footer {
  background: #7596B8;
  color: #FFF;
  margin-top: 6px;
}

footer h3 {
  color: #FFF;
}

footer h4 {
  color: #EEE;
}

@media (min-width: 645px) {


  header {
    padding: 30px 0;
    margin-bottom: 12px;
    font-size: 50px;
  }

  .container {
    width: 85%;
    margin: 0 auto;
  }

  h5 {
    font-size: 20px;
  }

  h3, h4 {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
  }

  h4 ul {
    margin-right: 48px;
  }

  h4 li {
    padding: 0 0 12px 0;
  }

  footer {
    padding: 30px 0 40px;
  }

}

@media (min-width: 820px) {

  .container {
    width: 820px;
    margin: 0 auto;
  }

}
